.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media #{$mq-1000-up} {
		flex-direction: row;
	}

	h3 {
		color: black;
	}

	&-container {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		gap: 1rem 0;
		width: fit-content;

		@media #{$mq-620-up} {
			margin-bottom: inherit;
		}
	}

	&-img-container {
		display: flex;

		@media #{$mq-620-up} {
			img {
				border-radius: 10px;
			}
		}
	}
	p {
		font-size: 1.2rem;
		color: black;
		@media #{$mq-620-up} {
			width: fit-content;
		}
	}
}
