button {
	&.button {
		color: #7895b2;
		background-color: #e8dfca;
		border-radius: 1.35rem;
		padding: 0.65rem 0.85rem;
		width: fit-content;
		margin: auto;
		font-size: 1rem;
		font-weight: 600;
	}
}
