.contact-me {
	&-container {
		border: 1px solid black;
		color: black;
		background-color: #5555551c;
		border-radius: 1rem;
		padding: 2rem;
		width: fit-content;
		margin: auto;
		font-size: 1.5rem;
	}
}
