.footer {
	position: inherit;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0.5rem 1rem;
	background-color: black;
	@media #{$mq-620-up} {
		position: absolute;
	}
	@media #{$mq-1000-up} {
		position: inherit;
	}
	&-container {
		display: flex;
		justify-content: space-between;
		align-items: end;
		background-color: black;
	}

	&-social-container {
		display: flex;
	}
	&-social-links {
		display: flex;
		gap: 0 0.5rem;

		a {
			display: flex;
			img {
				background: white;
				height: 25px;
				width: 25px;
			}
		}
	}
}
