.footer {
	padding: 0.5rem 1rem;
	background-color: black;

	&-container {
		display: flex;
		justify-content: space-between;
		align-items: end;
		background-color: black;
	}

	&-social-container {
		display: flex;
	}
	&-social-links {
		display: flex;
		gap: 0 0.5rem;

		a {
			display: flex;
			img {
				background: white;
				height: 25px;
				width: 25px;
			}
		}
	}
}
