@import 'variables';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	// Hamburger Open Styles
	&.open {
		.header__toggle {
			> span:first-child {
				transform: rotate(45deg);
			}

			> span:nth-child(2) {
				opacity: 0;
			}

			> span:last-child {
				transform: rotate(-45deg);
			}
		}
	}
	.navbar {
		// position: sticky;
		// top: 0;
		// display: flex;
		// justify-content: space-between;
		// align-items: baseline;
		&-mobile-button {
			@media #{$mq-620-up} {
				display: none;
			}
		}
		&-container {
			position: relative;
			button {
				display: flex;
			}
		}
		&-menu-icon {
			@media #{$mq-620-down} {
				height: auto;
				width: 1.5rem;
			}
		}
		&-menu-items {
			display: flex;
			flex-direction: column;
			margin-top: 0.25rem;
			position: absolute;
			right: 0;
			@media #{$mq-620-up} {
				flex-direction: row;
			}
			@media #{$mq-620-down} {
				&.closed {
					display: none;
				}
			}
			a {
				align-self: end;
				padding: 0.5rem 0;
				border-color: transparent;
				border-bottom-width: 2px;
				&:hover {
					color: darkgray;
					border-bottom-width: 2px;
					border-color: darkorchid;
				}
			}
		}
	}
}
