@import 'variables';

.header {
	// Hamburger Open Styles
	&.open {
		.header__toggle {
			> span:first-child {
				transform: rotate(45deg);
			}

			> span:nth-child(2) {
				opacity: 0;
			}

			> span:last-child {
				transform: rotate(-45deg);
			}
		}
	}
	.navbar {
		position: sticky;
		top: 0;
		&-mobile-button {
			@media #{$mq-620-up} {
				display: none;
			}
		}
		&-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 4rem;
			padding: 0 1rem;
		}
		&-menu-icon {
			@media #{$mq-620-down} {
				height: auto;
				width: 1.5rem;
			}
		}
		&-menu-items {
			display: flex;
			flex-direction: column;
			position: absolute;
			right: 0;
			padding-right: 1rem;
			a {
				display: inline-flex;
				align-self: end;
				align-items: center;
				padding-top: 0.25rem;
				border-color: transparent;
				border-bottom-width: 2px;
				&:hover {
					color: darkgray;
					border-bottom-width: 2px;
					border-color: darkorchid;
				}
			}
		}
		&-closed {
			display: none;
		}
	}
}
