@import 'variables';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	@media #{$mq-620-up} {
		align-items: flex-end;
	}
	// Hamburger Open Styles
	&.open {
		.header__toggle {
			> span:first-child {
				transform: rotate(45deg);
			}

			> span:nth-child(2) {
				opacity: 0;
			}

			> span:last-child {
				transform: rotate(-45deg);
			}
		}
	}
	.navbar {
		&-mobile-button {
			@media #{$mq-620-up} {
				display: none;
			}
		}
		&-container {
			position: relative;
			button {
				display: flex;
			}
		}
		&-menu-icon {
			@media #{$mq-620-down} {
				height: auto;
				width: 1.5rem;
			}
		}
		&-menu-items {
			display: flex;
			flex-direction: column;
			margin-top: 0.25rem;
			position: absolute;
			right: 0;
			@media #{$mq-620-up} {
				flex-direction: row;
				position: inherit;
			}
			@media #{$mq-620-down} {
				&.closed {
					display: none;
				}
			}
			a {
				align-self: end;
				margin-top: 0.5rem;
				padding-top: 0.5rem;
				@media #{$mq-620-up} {
					padding: 0 0.5rem;
					margin: auto;
				}
				&:hover {
					color: rgb(85, 85, 85);
					box-shadow: inset 0 -2px 0 0 rgb(173, 81, 219);
				}
			}
		}
	}
}
