.nav {
	&__toggle {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		border: 0;
		outline: none;
		background: none;
		padding: 0;
		margin: auto;
		height: 1.25rem;

		@media #{$mq-620-up} {
			display: none;
		}

		span {
			display: block;
			height: 0.2rem;
			width: 1.25rem;
			background-color: black;
			transition: all 200ms ease-in-out;
			.nav-open & {
				&:nth-child(1) {
					transform: rotate(45deg) translate(7px, 6px);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: rotate(-45deg) translate(4px, -3px);
				}
			}
		}
	}
}
