h1,
h2,
h3 {
	font-weight: 600;
	margin: 0;
}

h1 {
	font-size: 4rem;
	color: #4b647a;
	line-height: 1;
	@media #{$mq-620-up} {
		font-size: 6rem;
	}
}

h2 {
	font-size: 1.5rem;
	color: #688099;
	@media #{$mq-1000-up} {
		font-size: 2rem;
	}
}

h3 {
	font-size: 1.25rem;
	color: #688099;
	@media #{$mq-1000-up} {
		font-size: 1.5rem;
	}
}

a {
	color: inherit;
	text-decoration: none;
	color: #7895b2;
}

p {
	color: #553c2c;
}
